.boton{	
	background: url("../resources/menu.png");
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center center;
	align-self: flex-start;
	border-style: none;
	height: 40px;
	line-height: 2.5px;
	padding-left: 16px;
	padding-right: 16px;
	outline: none;
	margin: 30px;
	cursor: pointer
}

.appStyle{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	width: 100vw;
	background: #55DFBD
}

.panelStyle{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 320;
	background: #45B0F9
}
.titleInputBox{		
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
}
.inputBox{
	
	display: flex;
	align-items: center;
	justify-content: center;
}
.inputText{

	width: auto;
	margin-right: 16px;
}
.vodGrid{
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-start;
	width: auto;
	height: auto;
}
.vodContainer{
	overflow: hidden;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: auto;
	height: auto;
	background: #45B0F9;
}
.vodImage{
	
	background: rgb(69, 249, 159);
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;

}
.vodControls{

	
	background: rgb(249, 165, 69);
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.qltyButton{
	align-self: flex-start;
	border-style: none;
	
	padding-left: 16px;
	padding-right: 16px;
	outline: none;
	cursor: pointer
}